body{
    display: flex;
    flex-direction: column;
    min-height: 150px ;
    width: 500px;
    border: 1px solid rgb(73, 95, 73);
}

#input-el{
    height: 30px;
    margin: 5px;
    border: 1.5px solid rgb(36, 158, 36);
}

#input-btn{
    height: 30px;
    width: 100px;
    border: none;
    margin-left: 5px;
    background-color: rgb(36, 158, 36);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#input-el:hover{
    background-color: rgb(199, 231, 242);
}

ul{
    list-style: none;
    margin-left: 0;
    padding-left: 5px;
    padding-top: 0px;
    margin-top: 7px;
}
li{
   margin-top: 2px;
}

li a{
    color:rgb(36, 158, 36);
}

#delete-btn{
    height: 30px;
    width: 100px;
    border: none;
    margin-left: 5px;
    background-color: white;
    color: rgb(36, 158, 36);
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(36, 158, 36);
}

#tab-btn{
    height: 30px;
    width: 100px;
    border: none;
    margin-left: 5px;
    background-color: rgb(36, 158, 36);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

