body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background:black;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    font-size: 100%;
}

.card {
    background: rgba(255, 255, 255, 0.795);
    color: black;
    padding: 2em;
    border-radius: 30px;
    max-width: 290px;
    height: 300px;
    margin: 0cm;
    width: 90%;

}


.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 0.8em;
    border-radius: 40%;
    border: none;
    height: 35px;
    width: 35px;
    outline: none;
    background: rgba(7, 1, 1, 0.863);
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out; 
}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.863);
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100%-100px);
}
button:hover{
    background: #0c0202;
}
h1.temp{
    margin:0;
    margin-bottom: 0.4em;
}
.flex{
    display: flex;
    align-items: center;
}
.description{
    text-transform: capitalize;
    margin-left: 8px;
}
.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}
.weather.loading {
    visibility: "hidden";
    max-height: 20px;
    position: relative;
}
.weather.loading:after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;}
.city{
    font-size: 30px;
    margin-bottom: 0px;
}
.temp{
    font-size: 46px;
    margin-bottom: 0px;
}
.description{
    font-weight:light;
    font-size: 15px;
}
.humidity{
    font-weight: light;
    font-size: 15px;
}
.wind{
    font-size: 15px;
}